* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
}

.cell {
    float: left;
}
.after::after {
    display: block;
    content:"";
    clear: both;
}

.header {
    position: fixed;
    width:100%;
    height:130px;
    background:#fff;
    top:0;
    z-index: 200;
    
}
.header> .top {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;

}
.header> .top> .logo {
    width: 25%;
    height: 100%;
}
.header> .top> .logo> .logo_pack {
    width:240px;
    height: 80px;
    background: url(../img/logo.png) no-repeat center;
    background-size: cover;
    margin-top: 25px;
    position: relative;
}
.header> .top> .logo> .logo_pack> a {
    width:100%;
    height: 100%;
    position: absolute;
}
.header> .top> .menu {
    width:75%;
    height: 100%;
}
.header> .top> .menu> .sub {
    width:100%;
    height:80px;
    position: relative;
}
.header> .top> .menu> .sub> ul {
    position: absolute;
    bottom: 50%;
    right: 18px;
    width:200px;

}
.header> .top> .menu> .sub> ul> li {
    width:48%;
    text-align: center;
    font-size: 12px;
    color: #777;
}
.header> .top> .menu> .sub> ul> li:first-child {
    /* border-right: 1px solid #777; */
    padding-right: 4px;
}
.header> .top> .menu> .sub> ul> li:nth-child(2) {
    width: 1px;
    height:12px;
    background: #777;
    margin-top: 4px;
}
.header> .top> .menu> .sub> ul> li:hover {
    color: #ec7;
}

.header> .top> .menu> .main {
    width:100%;
    margin-top:15px;
    height:35px;
}
.header> .top> .menu> .main> ul {

    width:100%;
    height:100%;
}
.header> .top> .menu> .main> ul> li {
    width:14%;
    text-align: center;
    position: relative;
    font-size: 16px;
    height:100%;
    font-weight: bold;
}
.header> .top> .menu> .main> ul> li> ul {
    width:100%;
    position: absolute;
    top:35px;
    left:0px;
    max-height: 0;
    transition: 0.3s;
    overflow: hidden;
    z-index:100;
    
    
}
.header> .top> .menu> .main> ul> li> ul> li {
    font-size: 14px;
    font-weight: normal;
}  

.header> .top> .menu> .main> ul> li> ul> li > a {
    line-height: 30px;
}  
.header> .top> .menu> .main> ul> li:hover> a {
    color:#f8b501;
}
 .header> .top> .menu> .main> ul> li:hover> ul {
    max-height: 157px;
    transition: max-height 0.5s;
}

.header > .menu_bg {
    width:100%;
    height:0px;
    background-image: url("../img/top_bar.jpg");
    position: absolute;
    top:130px;
    transition: 0.3s;
    z-index:99;
}

.header > .menu_bg.active {
    height: 157px;
    border-bottom: 2px solid #fff;
    transition: 0.5s;
}

.header> .top> .menu> .main> ul> li> ul> li:hover> a {
    font-weight: bold;
}



.visual {
    width: 100%;
    margin-top: 130px;
}
.visual .slider .boxA> a {
    width: 100%;
    height: 100%;
    background: #f00;
}


.visual .slider .boxA .A-img {
    width:100%;
    padding-bottom: 31%;
    
}
.visual .slider .boxA .img1 {
    background: url(../img/main_귀묘한스무디.jpg) no-repeat center;
    background-size: cover;
}
.visual .slider .boxA .img2 {
    background: url(../img/main_곡물3종.jpg) no-repeat center;
    background-size: cover;
}
.visual .slider .boxA .img3 {
    background: url(../img/main_한끼라떼.jpg) no-repeat center;
    background-size: cover;
}
.visual .slider .boxA .img4 {
    background: url(../img/main_몽땅쉐이크.jpg) no-repeat center;
    background-size: cover;
}
.visual .slider .boxA .img5 {
    background: url(../img/main_긴페스츄리와플흑당.jpg) no-repeat center;
    background-size: cover;
}
.visual .slider .boxA .img6 {
    background: url(../img/main_콜드브루-1.jpg) no-repeat center;
    background-size: cover;
}
.visual .slider .boxA .img7 {
    background: url(../img/main_달고나크런치-1.jpg) no-repeat center;
    background-size: cover;
}
.visual> .slider .slick-prev {
    left: 15px;
    z-index:1;
}
.visual> .slider .slick-next {
    right: 30px;
}
.visual> .slider .slick-dots {
    bottom:20px;
}
.visual .slick-dotted.slick-slider {
    margin-bottom: 0;
}
.visual .slick-dots li button::before {
    color:white;
    font-size: 30px;
    
}

.slick-prev::before {
    content: "<";
}
.slick-next::before {
    content: ">";
}
.slick-prev:before, .slick-next:before {
    font-size: 50px;

}


.section> .section1> .sec1-1 {
    width:100%;
    margin-top: 100px;

}
.section> .section1> .sec1-1> .boxA {
    width:15.5%;
    padding-bottom: 30%;
}
.section> .section1> .sec1-1> .boxB {
    background: url(../img/main_sec3.jpg) no-repeat center right;
    background-size: cover;
    width:42%;
    padding-bottom: 30%;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}
.section> .section1> .sec1-1> .boxB> a> img {
    width: 140%;
    position: absolute;
    transition: 0.5s;
    right: 0;
    top: 0;
}
.section> .section1> .sec1-1> .box> .txt {
    position: absolute;
    top:5%;
    left:5%;
}
.section> .section1> .sec1-1> .box> .txt> p:nth-child(1) {
    font-size: 3.7vw;
    font-weight: bold;
    line-height: 3.5vw;
}
.section> .section1> .sec1-1> .box> .txt> p:nth-child(2) {
    font-size: 1.2vw;
    font-weight: 600;
    line-height: 1.7vw;
    margin-top: 30px;
}
.section> .section1> .sec1-1> .boxB> .txt> p:nth-child(1) {
    color: #93a03d;
}
.section> .section1> .sec1-1> .boxB> .txt> p:nth-child(2) {
    color: #515820;
}
.section> .section1> .sec1-1> .boxC {
    background: url(../img/main_sec2.jpg) no-repeat center right;
    background-size: cover;
    width:42%;
    padding-bottom: 30%;
    margin-left: 0.5%;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}
.section> .section1> .sec1-1> .boxC> a> img {
    width: 100%;
    position: absolute;
    transition: 0.5s;
    right: 0;
    top: 0;
}
.section> .section1> .sec1-1> .boxC> .txt> p:nth-child(1) {
    color: #6b4d30;
}
.section> .section1> .sec1-1> .boxC> .txt> p:nth-child(2) {
    color: #2f1f12;
}
.section> .section1> .sec1-1> .box> a {
    width: 100%;
    height:100%;
    position: absolute;
}

.section> .section1> .sec1-2 {
    width:100%;
    margin-top: 20px;

}
.section> .section1> .sec1-2> .boxA {
    width:15.5%;
    padding-bottom: 30%;
    float: right;
}
.section> .section1> .sec1-2> .boxB {
    background: url(../img/main_sec4.jpg) no-repeat center right;
    background-size: cover;
    width:42%;
    padding-bottom: 30%;
    float: right;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}
.section> .section1> .sec1-2> .boxB> a> img {
    width: 100%;
    position: absolute;
    transition: 0.5s;
    right: 0;
    top: 0;
}
/* .section> .section1> .sec1-2> .boxB> a {
    width: 100%;
    height:100%;
    position: absolute;
} */
.section> .section1> .sec1-2> .boxC {
    b ackground: url(../img/main_sec5-1.jpg) no-repeat center right;
    background-size: cover;
    width:42%;
    padding-bottom: 30%;
    margin-right: 0.5%;
    float: right;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

.section> .section1> .sec1-2> .box> .txt {
    position: absolute;
    top:5%;
    left:5%;
}
.section> .section1> .sec1-2> .box> .txt> p:nth-child(1) {
    font-size: 3.7vw;
    font-weight: bold;
    line-height: 3.5vw;
}
.section> .section1> .sec1-2> .box> .txt> p:nth-child(2) {
    font-size: 1.2vw;
    font-weight: 600;
    line-height: 1.7vw;
    margin-top: 30px;
}
.section> .section1> .sec1-2> .boxB> .txt> p:nth-child(1) {
    color: #f1ae1d;
}
.section> .section1> .sec1-2> .boxB> .txt> p:nth-child(2) {
    color: #965114;
}
.section> .section1> .sec1-2> .boxC> .txt> p:nth-child(1) {
    color: #b47c55;
}
.section> .section1> .sec1-2> .boxC> .txt> p:nth-child(2) {
    color: #5a3b25;
}

.section> .section1> .sec1-2> .boxC> a> img {
    width: 100%;
    position: absolute;
    transition: 0.5s;
    right: 0;
    top: 0;

}
.section> .section1> .sec1-2> .box> a {
    width: 100%;
    height:100%;
    position: absolute;
}
.section> .section1> .sec1-1> .boxB:hover> a> img {
    width: 168%;
    right: -20px;
    top:-40px;
}
.section> .section1> .sec1-1> .boxC:hover> a> img {
    width: 120%;
    right: -20px;
    top:-40px;
}
.section> .section1> .sec1-2> .boxB:hover> a> img {
    width: 120%;
    right: -20px;
    top:-40px;
}
.section> .section1> .sec1-2> .boxC:hover> a> img {
    width: 120%;
    right: -20px;
    top:-20px;
}


.section> .section1> .sec2 {
    width:100%;
    padding-bottom: 13%;
    margin: 100px 0;
    background: url(../img/main_sec1.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}
.section> .section1> .sec2> a {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}
.section> .section1> .sec2> .txt {
    width:65%;
    position: absolute;
    left: 50%;
    top:49%;
    transform: translate(-50%, -50%);
}
.section> .section1> .sec2> .txt> p:nth-child(1) {
    font-size: 1.2vw;
    font-weight: 600;
    margin-bottom: -1.5%;
    color: #453d00;
}
.section> .section1> .sec2> .txt> p:nth-child(2) {
    font-size: 3.5vw;
    font-weight: 600;
    color: #0c337e;
}
.section> .section1> .sec2> .txt> p:nth-child(3) {
    margin-top: 1.5%;
    font-size: 1vw;
    color: #333333;
}



.section> .section2 {
    width:100%;
    background: url(../img/bg-about-1.jpg) no-repeat left bottom;
    background-size: cover;
}
.section> .section2> .sec-box {
    max-width: 1280px;
    padding-bottom: 35%;
    position: relative;
    margin: 0 auto;
    
}
.section> .section2> .sec-box> .box1 {
    width:100%;
    height:30%;
    position: absolute;
}
.section> .section2> .sec-box> .box1> p:first-child {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 2vw;
    text-align: center;
    margin-top: 10px;
}
.section> .section2> .sec-box> .box1> p:nth-child(2) {
    font-size: 0.8vw;
    text-align: center;
    margin-top: 5px;
    color: #777777;
    margin-bottom: 15px;
}
.section> .section2> .sec-box> .box1> .icon {
    font-size: 1.2vw;
    text-align: center;
    color: #fff;
    width: 200px;
    margin: 0 auto;

}
.section> .section2> .sec-box> .box1> .icon i {
    width:30px;
    height:30px;

    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin: 5px;
}
.section> .section2> .sec-box> .box1> .icon> a:nth-child(1)> i {
    background: #3d5c9e;
}
.section> .section2> .sec-box> .box1> .icon> a:nth-child(2)> i {
    background: linear-gradient(#8b5ba8, #c9388e, #fedf75);
}
.section> .section2> .sec-box> .box1> .icon> a {
    width:100%;
    height:100%;
}
.section> .section2> .sec-box> .box2 {
    width:100%;
    height:50%;
    position: absolute;
    bottom: 18%;
}
.section> .section2> .sec-box> .box2> div {
    width:19.2%;
    height:100%;
    margin-right: 1%;
    transition: 0.3s;
    margin-top: 2%;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}
.section> .section2> .sec-box> .box2> div:nth-child(5) {
    margin-right: 0;
}
.section> .section2> .sec-box> .box2> div:nth-child(10) {
    margin-right: 0;
}
.section> .section2> .sec-box> .box2> .img1 {
    background: url(../img/coffee-4388065_1920.jpg) no-repeat center;
    background-size: cover;

}
.section> .section2> .sec-box> .box2> .img2 {
    background: url(../img/latte-macchiato-3669136_1920.jpg) no-repeat center;
    background-size: cover;
}
.section> .section2> .sec-box> .box2> .img3 {
    background: url(../img/coffee-4033402_1920.jpg) no-repeat center;
    background-size: cover;
}
.section> .section2> .sec-box> .box2> .img4 {
    background: url(../img/about-img5.jpg) no-repeat center;
    background-size: cover;
}
.section> .section2> .sec-box> .box2> .img5 {
    background: url(../img/away-3824651_1920.jpg) no-repeat center;
    background-size: cover;
}
.section> .section2> .sec-box> .box2> .trn1:hover {
    transform: translateY(-30px);
}
.section> .section2> .sec-box> .box2> .trn1> a .img {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: 0.3s;

}
.section> .section2> .sec-box> .box2> .trn1:hover> a .img {
    background: rgba(0, 0, 0, 0.7);

}
.section> .section2> .sec-box> .box2> .trn1 {
    position: relative;
}
.section> .section2> .sec-box> .box2> .trn1> .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2vw;
    opacity: 0;
    transition: 0.3s;
    margin-right: 7px;
}
.section> .section2> .sec-box> .box2> .trn1:hover > .txt {
    opacity: 1;
}






.section> .section3 {
    width:100%;

}
.section> .section3> div {
    width:50%;
    padding-bottom: 140px;
    background: #fff;
    border-top: 5px solid #0c337e;
    border-bottom: 5px solid #0c337e;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.section> .section3> .box1 {
    border-right: 5px solid #0c337e;
    background: #fff;
}
.section> .section3> .box1> .boxA {
    width:40%;
    top:45%;
    transform: translateY(-50%);
    left: 30px;

}
.section> .section3> .box1> .boxA> p:nth-child(1) {
    font-size: 2.2vw;
    color: #0c337e;
    font-weight: bold;
}
.section> .section3> .box1> .boxA> p:nth-child(2) {
    font-size: 0.8vw;
    color: #333333;

}
.section> .section3> .box1> div {
    position: absolute;
}
.section> .section3> .box1> .boxB {
    background: #fff;
    width:50%;
    right: 10%;
    top: 60%;
    transform: translateY(-50%);
    z-index: 10;

}
.section> .section3> .box1> .boxB> .sch-box {
    border: 3px solid #0c337e;
    position: relative;
    overflow: hidden;
}
.section> .section3> .box1> .boxB> .sch-box  i {
    font-size: 30px;
    position: absolute;
    top: 5px;
    right:5px;
    color: #0c337e;
}
.section> .section3> .box1> .boxB> .sch-box> input {
    height: 40px;
    border: none;
    width:90%;
    margin-right: 10px;
}
.section> .section3> .box1> .boxB> .sch-box> a {
    display: block;
}
.section> .section3> .box1> .boxC {
    width: 100%;
    height: 100%;
    background: url(../img/main_sec6.png) no-repeat center right;
    background-size: contain;
    right: 0;
    z-index: 0;
}

.section> .section3> .box2> div {
    position: absolute;

}
.section> .section3> .box2> .boxA {
    width:26%;
    top:45%;
    transform: translateY(-50%);
    left: 30px;
    z-index: 50;

}
.section> .section3> .box2> .boxA> p:nth-child(1) {
    font-size: 2.2vw;
    color: #0c337e;
    font-weight: bold;
}
.section> .section3> .box2> .boxA> p:nth-child(2) {
    font-size: 0.8vw;
    color: #333333;

}
.section> .section3> .box2> .button {
    width:100%;
    height:100%;

    right: -25%;
    transition: 0.3s;

}
.section> .section3> .box2>.button> .img {
    background: url(../img/main_sec6.png) no-repeat center right;
    background-size: contain;
    width:75%;
    height: 100%;
}
.section> .section3> .box2>.button> .txt {
    background: #0c337e;
    width:25%;
    height: 100%;
}

.section> .section3> .box2>.button> .txt> a> p {
    font-size: 1.8vw;
    color: #fff;
    line-height: 140px;
    text-align: center;
}

.section> .section3> .box2> .button:hover {
    right: 0px;
}
.footer {
    width: 100%;
    height: 300px;
    background: #0c337e;
}
.footer> .main {
    max-width: 1280px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    margin-top: 145px;

}
.footer> .main> .img {
    width:250px;
    margin: 0 auto;

}
.footer> .main> .img> img {
    width:240px;
    margin-top: 30px;
}
.footer> .main> ul {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 30px;

}
.footer> .main> ul> li {
    text-align: center;
    font-size: 14px;
    margin: 5px 0;
    color: #dddddd;
}
.footer> .main> ul> li:last-child {
    margin-top: 20px;
    font-size: 12px;
}

.footer> .main> .family {
    width:180px;
    height: 30px;
    position: absolute;
    top: 25px;
    right: 0;
    margin: 0 0 0 0;
}
.footer> .main> .family> li {
    background: #fff;
    padding: 5px;
    position: relative;
    color: #0c337e;
    border: 1px solid #0c337e;
    cursor: pointer;
}
.footer> .main> .family> li> ul {
    position: absolute;
    top: 0px;
    left: -1px;
    background: #fff;
    width: 180px;
    border: 1px solid #0c337e;
    transition: 0.3s;
    box-sizing: border-box;
    display: none;
}
.footer> .main> .family> li> ul.active {

    display: block;
    top:-258px;
}
.footer> .main> .family> li> ul> li {
    padding: 5px 0;
}
.footer> .main> .family> li> ul> li>a {
    display: block;
}
.footer> .main> .family> li> ul> li>a:hover {
    display: block;
    color: #aaaaaa;
}


.tap {
    width:80px;
    height:80px;
    background: #ffe70b;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 50px;
    transition: 0.2s;
    opacity: 0;
    color: #0c337e;
    border: 1px solid #fff;
    box-sizing: border-box;
}
.tap> .arrow> i {
    font-size: 40px;
    margin-top: 8px;
}
.tap> p {
    font-size: 17px;
    font-weight: 600;
    margin-top: -10px;
}
.tap:hover {
    background: #0e347e;
    color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
}